*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
}

.menu
{
    background-color: red;
}

.ard_logo
{
    width: 12%;
    display: block;
    padding: 20px 0;
    position: relative;
    left: 15%;
}

.list{
    display: inline;
    list-style-type: none;
    position: relative;
    right: 15%;
}

li ul a{    
    display: inline;
    text-decoration: none;
    position: relative;
    float: right;
    top: -36px;
    padding:0 2%;
    color: white;
}

.photo{
    width: 40%;
}

h4{
    border: solid;
    border-color: red;
    background-color: red;
    color: white;
    border-radius: 5px;
    display: block;
}

a:hover
{
    background-color: white;
    color:red;
}
