:root {
    --textcolor: red;
}

body {
    background-color: black;
}

.header {
    display: flex;

    p {
        color: red;
    }
}

.headerc {

    justify-content: space-between;

    p {
        color: var(--textcolor);
    }
}

.first {
    border-bottom: 1px solid var(--textcolor);
}

.headerr {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;

    .logo {
        display: flex;
        align-items: center;
    }

    p {
        color: white;
    }

    .search {
        align-items: center;
        background-color: gray;
        color: white;
        height: 1rem;
    }

    img {
        height: 2rem;
        border-radius: 50%;
    }
}

.search input[type=search] {
    border: none;
    background-color: gray;
}

.headerc:hover p {
    background-color: grey;
}

button:hover {
    border-radius: 5em;
    background-color: grey;

}

.butt {
    gap: 5rem;
    width: 500px;
    background-color: red;

    img {
        padding-right: 10px;
    }


}

button {
    background-color: rgb(47, 44, 44);
    border-radius: 5em;
    color: white;
}

main {
    display: flex;
}

.headerc {
    display: flex;
    align-items: center;
    position: relative;
}

.search {
    border-radius: 25px;

}

.tp {
    width: 35px;
    height: 45px;
}

.headerc {
    display: flex;

    p {
        padding: 10px;
    }

}

.img {
    display: flex;
    gap: 3rem;

    p {
        color: white;
    }

    h3 {
        color: white;
    }

    img {
        height: 250px;
        width: 400px;
        margin: 5%;
        padding: 0%;

    }
}

.imgc {
    display: flex;
    gap: 3rem;

    p {
        color: white;
    }

    h3 {
        color: white;
    }

    img {
        height: 250px;
        width: 400px;
        margin: 5%;
        padding: 0%;

    }
}